# The author of this software stands in solidarity with 🇺🇦 Ukraine. 
# We believe in a world where international borders are respected and human rights are upheld. 
# We encourage all users of this software to contribute to humanitarian efforts in 🇺🇦 Ukraine.


# $0000 - $3FFF Prepinane banky RAM
# $4000 - $7FFF Zde je vzdy zrcadlo RAM banky 0, tedy i zasobnik! - pouziva BIOS

#
# $6800 - $6FFF   VGA text               $0800   (40x30 = 1200 -> 2048 ->$0800)
# $7000 - $77FF   VGA attributes FG      $0800
# $7800 - $7FFF   VGA attributes BG      $0800
# $F000 - $F800   VGA font bitmap 8x8    $0800  


MEMORY {
    RAM_ZP:     file = "",      define = yes, start = $0000, size = $00ff, fill = no;
    RAM_PROC:   file = "",      define = yes, start = $0300, size = $2700, fill = no;
    RAM:        file = "",      define = yes, start = $4300, size = $2700, fill = no;
    VIDEO:      file = "",      define = yes, start = $6800, size = $1800, fill = no;   

    IO:         file = "%O",    define = yes, start = $8000, size = $0400, fill = yes, fillval = $ff;    
    ROM:        file = "%O",    define = yes, start = $8400, size = $6C00, fill = yes, fillval = $ff;     
    OSFONT:     file = "%O",    define = yes, start = $F000, size = $0800, fill = yes, fillval = $ff;
    OSTABLES:   file = "%O",    define = yes, start = $F800, size = $07FA, fill = yes, fillval = $ff;
    CPUVECTORS: file = "%O",    define = yes, start = $FFFA, size = $0006;
}


SEGMENTS {
    ZEROPAGE:   load = RAM_ZP,      type = zp,  define = yes,   optional = yes;
    BSS_PROC:   load = RAM_PROC,    type = bss, define = yes,   optional = yes; 
    BSS:        load = RAM,         type = bss, define = yes,   optional = yes;        
    VRAM:       load = VIDEO,       type = rw,  define = yes,   optional = yes;

    JUMPTABLE:  load = ROM,         type = ro,  define = yes,   optional = yes;
    CODE:       load = ROM,         type = ro,  define = yes,   optional = no, align = $0100;
#    TABLES1:    load = ROM,         type = ro,  define = yes,   optional = no, align = $0100;
    FONT:       load = OSFONT,      type = ro,  define = yes,   optional = no;
#    TABLES2:    load = OSTABLES,    type = ro,  define = yes,   optional = yes;    
    VECTORS:    load = CPUVECTORS,  type = ro,  define = yes,   optional = no;
}   
