# Python
__pycache__/
*.py[cod]
*$py.class
.vscode/settings.json
dist/*
build/*
python_venv/*

# ZAP! compiler and ca65 artifacts
**/*.o
**/*.com
**/*.xex
**/*.atr
**/*.s
**/*.da65
**/*.map
**/*.d65
**/*.cut
**/*.txt

tests.txt


